$primary-color:#302f2f ;
$secondary-color: #ffff00;
$background-image:url(../images/background.jpg);
$background-opacity: 0.8;
$background-image-show: true;
@mixin easeOut{
    transition: color 1s ease-out;
}
@mixin animate{
    transition: transform 0.3s ease-out;
}
@mixin background{
    @if $background-image-show{
        &#img-bg{
            background: $background-image;
            background-attachment: fixed;
            background-size: cover;
            &:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                background: rgba($primary-color,$background-opacity);  
                height: 100%;
                width: 100%;   
                z-index: -1;
            }
        }
    }
}
@mixin mediasm{
    @media screen and (max-width: 480px) {
        @content;    
    }
}
@mixin mediamd{
    @media screen and (max-width: 768px) {
        @content;    
    }
}
@mixin medialg{
    @media screen and (max-width: 1170px) {
        @content;    
    }
}
@mixin mediaXl{
    @media screen and (min-width: 1171px) {
        @content;    
    }
}
//set text-color
@function set-text-color($color){
    @if(lightness($color)>40){
        @return #000;
    }
    @else{
        @return #fff;
    }
}